<section class="thirteen columns">
    <h1>FORMAÇÃO ACADÊMICA</h1>
    <article>
        <header>
            <h1> Doutorado em Machine Learning, Technische Universität Berlin (2018 - atual).</h1>
            <span><address>Orientador: Prof. Dr. Klaus-Robert Müller.</address></span>
        </header>
    </article>
    <article>
        <header>
            <h1>Mestrado em Estatística, UNICAMP (2012 - 2014).</h1>
            <span><address>Orientador: Prof. Dr. Caio Lucidius Naberezny Azevedo.</address></span>
        </header>
    </article>
    <article>
        <header>
            <h1>Bacharelado em Estatística, UNICAMP (2010 - 2011).</h1>
            <span><address>Orientador: Prof. Dr. Caio Lucidius Naberezny Azevedo.</address></span>
        </header>
    </article>
</section>
