<section class="thirteen columns">
    <h1>Prêmios e títulos</h1>
    <article>
        <header>
            <h1>2014: Prêmio de 1º lugar no concurso de "Melhor dissertação de Mestrado", Associação Brasileira de Estatística.</h1>
            <span><address>Associação Brasileira de Estatística</address></span>
        </header>
    </article>
    <article>
        <header>
            <h1>2013: Prêmio de Melhor Trabalho da Sessão de Apresentação oral.</h1>
            <span><address>III Congresso Brasileiro de Teoria de Resposta ao Item.</address></span>
        </header>
     </article>
     <article>
        <header>
            <h1>2012: Prêmio de 1º lugar no concurso de "Melhor trabalho de Iniciação Científica".</h1>
            <span><address>Associação Brasileira de Estatística.</address></span>
        </header>
     </article>
      <article>
        <header>
            <h1>2011: 2º colocado da turma de formandos em Estatística.</h1>
            <span><address>UNICAMP.</address></span>
        </header>
     </article>
</section>
